@import 'w3-css';

body {
	display: grid;
	justify-items: center;
}

form {
	display: grid;
	grid-gap: 1em;
}

form .w3-btn {
	padding: 1em;
}

.user-avatar {
	width: 85px !important;
}

.display-none {
	display: none;
}
